
<%- include ../public/header.ejs%>




<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <%- include ../public/aslide-left.ejs%>

        </div>
        <div class="col-sm-10">
            <ol class="breadcrumb">
                <li class="active">商品管理
                </li>
                <li class="active">商品列表
                </li>
            </ol>
            <div class="panel panel-default">

                <div class="panel-heading">
                    编辑商品
                </div>
                <div class="panel-body">
                    <div class="table-responsive input-form">
                        <form action="/admin/product/doEdit" enctype="multipart/form-data" method="post">
                            <input type="hidden" name="_id" value="<%=model._id%>">
                            <ul>
                                <li>  商品名称: <input type="text" name="title" value="<%=model.title%>"/></li>

                                <li>  商品图片:
                                    <input type="file" name="pic"/>
                                    <br/>
                                      <img src="/<%=model.pic%>" width="100">
                                </li>
                                <li>  商品价格: <input type="text" name="price" value="<%=model.price%>"/></li>
                                <li>  商品邮费: <input type="text" name="fee" value="<%=model.fee%>"/></li>

                                <li>
                                    商品描述:
                                    <textarea name="description" id="" cols="60" rows="8"><%=model.description%></textarea>
                                </li>

                                <li>
                                    <br/>
                                    <button type="submit" class="btn btn-default">提交</button>
                                </li>

                            </ul>


                        </form>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>

</body>
</html>