<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>render渲染函数</title>
</head>
<body>

    <div id="demo"></div>
    <!--1. 引包-->
    <script type="text/javascript" src="./node_modules/vue/dist/vue.js"></script>
    <script type="text/javascript">
        // 2. 创建实例化vue对象
        // 插值模板语法 {{}}   react {}  angular {{}}
        //runtime写法
        var instance = new Vue({
            data: {
                hi: "monrning ",
                name: "Mr zhang"
            },
            render(h){ //h vm.$createElement = function (a, b, c, d) { return createElement(vm, a, b, c, d, true); };
                return h('div', this.hi + " " + this.name);
                // return <div></div>
            }
        });
        instance.$mount(document.getElementById("demo"));
    </script>
</body>
</html>