<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div id="app">
			<!--<input type="text" v-model="msg" />-->
			<input type="text" :value="msg" @input="change"/>
			<p>{{msg}}</p>
		</div>
		<script type="text/javascript" src="./node_modules/vue/dist/vue.js"></script>
		<script>
			var app = new Vue({
				el:'#app',
				data(){
					return {
						msg:'3333'
					}
				},
				methods:{
					change(e){
						console.log(e.target.value)
						this.msg = e.target.value;
					}
				}
			})
		</script>
	</body>
</html>
