<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>过滤器</title>
</head>
<body>
<div id="app"></div>
<script type="text/javascript" src="./node_modules/vue/dist/vue.js"></script>
<script type="text/javascript">
    // 过滤器的作用，对你当前的数据添油加醋
    /* 在组件内部使用 filter : {
        value: 为要过滤的内容
        过滤器的名字: function(value){
            // 内部一定要retun
        }

        调用过滤器： 数据属性 | 过滤器的名字
    }
    */
    // 第一个参数：过滤器名称
    // 第二个参数：过滤器函数（arg1,arg2）， arg1: 要过滤的数据；arg2,函数的参数
    Vue.filter('capitalize',function (value) {
        if(!value) return ''
        value = value.toString()
        return value.charAt(0).toUpperCase()+value.slice(1)
    })

    var App = {
        template:`
            <div>
                <input type="number" name="price" v-model="price">
                <h3>{{price | myCurrentcy }}</h3>
                <input name="name" v-model="msg">
                <h3>{{msg|capitalize}}</h3>
            </div>
        `,
        data(){
            return {
                price:0,
                msg:'qwe'
            }
        },
        filters:{
            myCurrentcy:function (value) {
                return '￥'+ value;
            }
        }
    }



    new Vue({
        el:'#app',
        template:`<App/>`,
        components:{App}
    })
</script>
</body>
</html>
