<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>过滤器</title>
</head>
<body>
<div id="app"></div>
<script type="text/javascript" src="./node_modules/vue/dist/vue.js"></script>
<script type="text/javascript">


    var App = {
        template:`
            <div>
                <input type="text" name="price" v-model="msg" autocomplete="false">
                <h3>{{msg}}</h3>
                <h3>{{stus[0].name}}</h3>
                <button @click="stus[0].name='rose'">修改</button>
            </div>
        `,
        data(){
            return {
                msg:'',
                stus:[{name:'jack'}]
            }
        },
        // 监听复杂数据类型（object,array），需要深度监视
        // 一般监听单个属性，简单类型；复杂类型-深度监听
        watch:{
            msg:function (newV,oldV) {
                // console.log(newV,oldV)
                if (newV ==='xufang') {
                    console.log(newV)
                }
            },
            // // 这个复杂数据类型，这样是无法监视的
            // stus:function (newV,oldV) {
            //     console.log(newV)
            // }
            stus:{
                deep:true,  // 深度监视
                handler:function (newV,oldV) {
                    console.log(newV[0].name)
                }
            }
        }
    }



    new Vue({
        el:'#app',
        template:`<App/>`,
        components:{App}
    })
</script>
</body>
</html>
