<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>组件的生命周期</title>
</head>
<body>
<div id="app">
    <App></App>
</div>
<script type="text/javascript" src="./node_modules/vue/dist/vue.js"></script>
<script type="text/javascript">
    /*
    生命周期的钩子函数
    beforeCreate


     */
    var Test = {
        template:`
            <div>
            <div>{{msg}}</div>
            <br/>
            <button @click="changeHandler">改变</button>

            </div>
        `,
        data(){
            return {
                msg:'helloworld'
            }
        },
        methods:{
            changeHandler(){
                this.msg = this. msg + ' ---- 我已经改变了';
            }
        },
        beforeCreate:function(){
            console.log(this.msg);
        },
        created:function () {
            // 组件创建之后
            
            // 在使用该组件，就会调用 created方法
            // 在 created 这个方法中，可以操作后端数据，数据响应视图
            // 应用：发起ajax请求
            console.log(this.msg);
        },
        beforeMount(){
            // 挂载数据到DOM之前会调用
            console.log(document.getElementById('app'))
        },
        mounted:function () {
            // 挂载数据到DOM之后会调用， Vue作用以后的 DOM (即 插值，指令操作后)
            console.log(document.getElementById('app'))
        },
        beforeUpdate:function () {
            // 更新 Dom之前，调用此钩子函数
            // 应用：获取原始 Dom
            console.log(document.getElementById('app').innerHTML)
        },
        updated(){
            // 更新 Dom之后，调用此钩子函数
            // 应用：获取新 Dom
            console.log(document.getElementById('app').innerHTML)
        },
        beforeDestroy:function () {
          console.log('beforeDestroy')
        },
        destroyed:function () {
            console.log('destroyed')
        },
        activated(){
            console.log('被激活了')
        },
        deactivated(){
            console.log('组件被停用了');
        }
    }
    // keep-alive : 能在组件的切换过程中，将组件状态保留在内存中，防止重复渲染Dom
    var App = {
        template:`
            <div>

                <keep-alive>
                    <Test v-if="isShow"></Test><br/>
                </keep-alive>
               <button @click="isShow=!isShow">改变生死</button>
            </div>
        `,
        data:function () {
            return {
                isShow:true
            }
        },
        components:{
            Test
        }
    }
    new Vue({
        el:'#app',
        components:{App}
    })
</script>
</body>
</html>