<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>路由</title>
</head>
<body>
<div id="app"></div>
<script type="text/javascript" src="./node_modules/vue/dist/vue.js"></script>
<script type="text/javascript" src="./node_modules/vue-router/dist/vue-router.min.js"></script>
<script type="text/javascript">

    // 声明组件
    var ComDesc = {
        data:function () {
            return {
                msg:''
            }
        },
        template:`
            <div>{{msg}}</div>
        `,
        created(){
            this.msg='andorid'
        },
        watch:{
            '$route'(to,from){
                console.log(to);
                console.log(from);

                this.msg = to.params.id;
            }
        }
    }


    var Timeline = {
        template:`
            <div id="timeline">
                <router-link :to="{name:'comDesc',params:{id:'andorid'}}">安卓</router-link>
                <router-link :to="{name:'comDesc',params:{id:'frontend'}}">前端</router-link>
                <router-view></router-view>
            </div>
        `
    }

    var router = new VueRouter({
        routes:[
            {
                path:'/timeline',
                name:'timeline',
                component:Timeline,
                children:[
                    {
                        name:'comDesc',
                        path:'/timeline/:id',
                        component:ComDesc},
                ]
            },
            // {
            //     path:'/pins',
            //     // component:
            // }
        ]
    });

    // 抛出两个全局的组件 router-link  router-view
    // router-link会被渲染成 a 标签，to 属性渲染成 href="#xxx"
    var App = {
        template:`
            <div>
                <router-link :to="{name:'timeline'}">首页</router-link>
                <router-view></router-view>
            </div>
        `
    }

    // 5. 将配置好的路由对象关联到 vue实例化对象中
    // 否则，报 Cannot read property 'matched' of undefined
    new Vue({
        el:'#app',
        router:router,
        template:`
        <App></App>
        `,
        components:{App}

    })
</script>
</body>
</html>