<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app"></div>
<script type="text/javascript" src="./node_modules/vue/dist/vue.js"></script>
<script type="text/javascript" src="./node_modules/axios/dist/axios.min.js"></script>
<script>
    var App = {
        template:`
            <div>
                响应1: {{res1}}
                响应1: {{res2}}
                <button @click="sendAjax">并发请求</button>
            </div>
        `,
        data:function () {
            return {
                res1:'',
                res2:''
            }
        },
        methods:{
            sendAjax(){
                // 请求1 get /
                // 请求2 post  /add
                // 公共url配置
                this.$axios.defaults.baseURL = 'http://www.aaa.com:3000';
                var q1 = this.$axios.get('');
                var q2 = this.$axios.post('add1','a=1');
                this.$axios.all([q1,q2])
                    .then(this.$axios.spread((res1,res2)=>{
                        // 全部成功了
                        this.res1 = res1.data;
                        this.res2 =res2.data;
                    }))
                    .catch(err=>{
                        // 其一失败
                        console.log(err)
                    })


            }
        }
    }
    console.log(axios)
    Vue.prototype.$axios = axios;

    new Vue({template:'<App/>',components:{App}}).$mount('#app');


</script>
</body>
</html>