<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app"></div>
<script type="text/javascript" src="./node_modules/vue/dist/vue.js"></script>
<script type="text/javascript" src="./node_modules/axios/dist/axios.min.js"></script>
<script>
    var App = {
        data(){
            return {
                file:{},
                progress:0,
                source:null,
                currentLoaded:0
            }
        },
        template:`
            <div>
                选择文件：
                <input type="file" name="file" @change="changeHandler">
                <button @click="sendAjax">上传</button>
                上传进度：{{progress}}%
                <button @click="cancel">取消请求</button>
                <button @click="resume">续传</button>
            </div>
        `,
        methods:{
            resume(){
                var fileData = this.file.slice(this.currentLoaded,this.file.size)
                console.log(fileData)
            },
            cancel(){
                this.source.cancel('请求被取消');
            },
            sendAjax(){
                this.$axios.defaults.baseURL = 'http://www.aaa.com:3000/';
                var CancelToken = this.$axios.CancelToken;
                var source = CancelToken.source();
                this.source = source;

                var fd = new FormData();
                fd.append('file',this.file)
                this.$axios.post('upload',fd,{
                    // 携带取消标识
                    cancelToken:source.token,
                    onUploadProgress:(progressEvent) =>{
                        // 对原生进度事件进行处理
                        console.log(progressEvent)
                        this.currentLoaded = progressEvent.loaded;
                        var progress = (progressEvent.loaded/progressEvent.total)*100;
                        this.$nextTick(function () {
                            this.progress = Math.ceil(progress)
                        })
                    }
                })
                    .then(res=>{
                        console.log(res);
                    })
                    .catch(err=>{
                        console.log(err)
                    })
            },
            changeHandler(e){
                console.log(e.target.files[0]);

                this.$nextTick(function () {
                    this.process = 0;
                })
                console.log(this.process)
                this.file = e.target.files[0];
            }
        }
    }
    console.log(axios)
    Vue.prototype.$axios = axios;

    new Vue({template:'<App/>',components:{App}}).$mount('#app');


</script>
</body>
</html>