<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vuex的使用</title>
</head>
<body>
<div id="app"></div>
<script src="./node_modules/vue/dist/vue.min.js"></script>
<script src="./node_modules/vuex/dist/vuex.min.js"></script>
<script type="text/javascript">

    const store = new Vuex.Store({
        state:{
            count:0
        },
        mutations:{
            increment(state){
                state.count ++;
            }
        }
    });

    var App = {
        template:`
            <div>
                <span>{{store.state.count}}</span>
                <button @click="change">count++</button>
            </div>
        `,
        methods:{
            change(){
                this.$store.commit('increment');
            }
        }
    };

    new Vue({
        el:'#app',
        store,
        template:'<App/>',
        components:{App}
    })
</script>
</body>
</html>