<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> mapState 辅助函数 </title>
</head>
<body>
<div id="app"></div>
<script src="./node_modules/vue/dist/vue.min.js"></script>
<script src="./node_modules/vuex/dist/vuex.min.js"></script>
<script type="text/javascript">

    const store = new Vuex.Store({
        state:{
            count:0,
            count2:15
        },
        mutations:{
            increment(state){
                state.count ++;
                state.count2 ++ ;
            }
        }
    });

    var App = {
        template:`
            <div>
                <p>count: <span>{{count}}</span></p>
                <p>count2: {{count2}}</p>
                <!--<p>{{countPlusLocalState}}</p>-->
                <button @click="change">count++</button>
                <!--<button @click="change">count2++</button>-->
            </div>
        `,
        // computed:new Vuex.mapState({
        //     count: state => state.count,
        //     countAlias: 'count',
        //     countPlusLocalState(state){
        //         return state.count //+ this.localCount
        //     }
        // }),
        computed: new Vuex.mapState([
            'count',
            'count2'
        ]),
        methods:{
            change(){
                this.$store.commit('increment');

            }
        }
    };

    new Vue({
        el:'#app',
        store,
        template:'<App/>',
        components:{App}
    })
</script>
</body>
</html>