<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> mapState 辅助函数 </title>
</head>
<body>
<div id="app"></div>
<script src="./node_modules/vue/dist/vue.min.js"></script>
<script src="./node_modules/vuex/dist/vuex.min.js"></script>
<script type="text/javascript">

    const store = new Vuex.Store({
        state:{
            todos:[
                {id:1, text:'测试数据1111', done: true},
                {id:2, text:'测试数据2222', done: false},
                {id:3, text:'测试数据3333', done: true},
            ]
        },
        getters:{
            doneTodos: state =>{
                return state.todos.filter(todo => todo.done)
            },
            search:(state) => (id) =>{
                console.log(id)
                return state.todos.find(todo=>todo.text === id)
            }
        },
    });

    var App = {
        template:`
            <div>
                <button @click="change">搜索</button>
                <input type="text" v-model="msg">
                <ul>
                   <li v-for="(item,index) in list">{{item.text}}</li>
                </ul>
            </div>
        `,
        data(){
            return {
                msg:''
            }
        },
        // computed:new Vuex.mapState({
        //     count: state => state.count,
        //     countAlias: 'count',
        //     countPlusLocalState(state){
        //         return state.count //+ this.localCount
        //     }
        // }),
        computed:{
            list(){
                return this.$store.getters.doneTodos;
            }
        },
        methods:{
            change(){
               this.list = this.$store.getters.search(this.msg);

            }
        }
    };

    new Vue({
        el:'#app',
        store,
        template:'<App/>',
        components:{App}
    })
</script>
</body>
</html>