<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> mapState 辅助函数 </title>
</head>
<body>
<div id="app"></div>
<script src="./node_modules/vue/dist/vue.min.js"></script>
<script src="./node_modules/vuex/dist/vuex.min.js"></script>
<script type="text/javascript">

    const store = new Vuex.Store({
        state:{
            count: 0
        },
        mutations:{
            increment(state){
                state.count ++ ;
            }
        },
        actions:{
            increment(context){
                context.commit('increment');
            },
            actionA({commit}){
                return new Promise((resolve,reject)=>{
                    setTimeout(()=>{
                        commit('someMutation');
                        resolve();
                    },1000)
                })
            },
            actionB({dispatch,commit}){
                return dispatch('actionA').then(()=>{
                    commit('someOtherMutation');
                })
            }
        }
    });

    var App = {
        template:`
            <div>
                <p>count：{{count}}</p>
                <button @click="change">mutation触发</button>
                <button @click="change2">action触发</button>
            </div>
        `,
        data(){
            return {
                msg:''
            }
        },
        computed:new Vuex.mapState([
            'count'
        ]),
        methods:{
            change(){
               this.$store.commit('increment');
            },
            change2(){
                this.$store.dispatch('increment');
            }
        }
    };

    new Vue({
        el:'#app',
        store,
        template:'<App/>',
        components:{App}
    })
</script>
</body>
</html>