<template>
  <div>
    <!--顶部-->
    <mt-header title="固定在顶部"></mt-header>




    <router-view/>
    <!--底部-->
    <mt-tabbar v-model="selected">
      <mt-tab-item id="home">
        <img slot="icon" src="../static/img/index.png">
        首页
      </mt-tab-item>
      <mt-tab-item id="member">
        <img slot="icon" src="../static/img/vip.png">
        会员
      </mt-tab-item>
      <mt-tab-item id="shopcart">
        <img slot="icon" src="../static/img/shopcart.png">
        购物车
      </mt-tab-item>
      <mt-tab-item id="search">
        <img slot="icon" src="../static/img/find.png">
        查找
      </mt-tab-item>
    </mt-tabbar>
  </div>
</template>

<script>
export default {
  name: 'App',
  data(){
    return {
      selected:true
    }
  },
  watch:{
    // 不能使用箭头函数，因为 this 会身上指定
    selected:function (newV,oldV) {
      this.$router.push({
        name:newV
      })
    }
  }
}
</script>

<style>

</style>
