<a href="#" class="list-group-item active">商品管理</a>

<a href="/admin/product" class="list-group-item">
    商品列表</a>
<a href="/admin/product/add" class="list-group-item">
    增加商品</a>

<a href="#" class="list-group-item active">分类管理</a>

<a href="/" class="list-group-item">
    商品分类列表</a>
<a href="/add" class="list-group-item">
    增加商品分类</a>

