<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <p>{{name}}</p>
    <p x-text="name"></p>
    <p>{{age}}</p>
    <p>
        {{doubleAge}}
    </p>
    <input type="text" x-model="name">
    <button @click="changeName">呵呵</button>
    <div x-html="html"></div>
</div>
<script src="compile.js" type="text/javascript"></script>
<script src="xvue.js"></script>
<script type="text/javascript">

    const app = new XVue({
        el:'#app',
        data:{
            name:'I am test',
            age:12,
            html:`<button>这是一个按键</button>`,
            test:'xufang',
            foo:{bar:''}
        },
        created(){
            setTimeout(()=> {
                this.name = '我是测试'
            },1500)
        },
        methods:{
            changeName(){
                this.name = '哈喽'
                this.age = 1;
            }
        }
    })

    app.$data.test = '我变了'
    app.$data.foo.bar = '我也变了'
    app.test = '我就是变了'
</script>
</body>
</html>