<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MVVM</title>
</head>
<body>
    <div id="mvvm-app">
        <input type="text" v-model="word">
        <p>{{word}} </p>
        <button v-on:click="sayHi">change model</button>
    </div>
    <script src="./observer.js"></script>
    <script src="./watcher.js"></script>
    <script src="./compile.js"></script>
    <script src="./mvvm.js"></script>
    <script>
        var vm = new MVVM({
            el: '#mvvm-app',
            data: {
                word:'Hello World'
            },
            methods: {
                sayHi:function () {
                    this.word = 'hi,everybody!'
                }
            }
        });
    </script>
</body>
</html>