<template>
    <li>
      <slot></slot>
    </li>
</template>

<script>
    export default {
        name: "my-li",
      data:function () {
        return {

        }
      }
    }
</script>

<style scoped>
  li{display: inline-block ; width: 33.33%; text-align: center;}
</style>
