<template>
  <div id="tmpl">
    <mt-header :title="title">
      <div @click="goback" slot="left">
        <mt-button icon="back">返回</mt-button>
      </div>
      <mt-button icon="more" slot="right"></mt-button>
    </mt-header>
  </div>
</template>

<script>
    export default {
        name: "nav-bar",
      props:['title'],   // props 属性 在template中可以直接使用
      created(){
          // 在这里要使用，则用 this.title
      },
      data(){
          return {

          }
      },
      methods:{
          goback:function () {
            this.$router.go(-1);
          }
      }

    }
</script>

<style scoped>
  #tmpl .mint-header{
    background: #f0f0f0;
    color: #26a2ff;
  }
</style>
