<template>
  <div>
    <mt-swipe :auto="4000">
      <mt-swipe-item v-for="(item,index) in imgs" :key="index">
        <!--<img :src="api+ item.img" style="height: 150px;"/>-->
        <div style="height: 180px;text-align: center" :style="{'background':item.color}">
          <div class="h3">{{index}}</div>
        </div>
      </mt-swipe-item>
    </mt-swipe>
    <!--<test></test>-->
    <div class="grid">
      <my-ul>
        <li v-for="(item,index) in routes" :key="index">
          <router-link :to="{name:item.route}">
            <span :class="item.className"></span>
            <div>{{item.title}}</div>
          </router-link>
        </li>
      </my-ul>
    </div>


  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      api:'http://localhost:3000',
      imgs:[],   // 轮播图数据
      routes:[
        {title:'新闻资讯',className:'back-news',route:'NewsList'},
        {title:'图文分享',className:'back-pics',route:''},
        {title:'商品展示',className:'back-goods',route:''},
        {title:'留言反馈',className:'back-feed',route:''},
        {title:'搜索资讯',className:'back-call',route:''},
        {title:'联系我们',className:'back-search',route:''},
      ]
    }
  },
  created(){
    this.$log();
    this.$log();
    this.$axios.get('getlunbo')
      .then(res=>{
        this.imgs = res.data.data;
        console.log(res.data);
      })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .mint-swipe{height: 180px;}

  .grid span{
    display: inline-block;
    margin: 10px 0;
    width: 50px;
    height: 50px;
    background-repeat: round;
  }
  .back-img{
    background: url(../../static/img/callme.png);
  }
  .back-news{background: url(../../static/img/news.png);}
  .back-pics{background: url(../../static/img/picShare.png);}
  .back-goods{background: url(../../static/img/goodsShow.png);}
  .back-call{background: url(../../static/img/callme.png);}
  .back-feed{background: url(../../static/img/feedback.png);}
  .back-search{background: url(../../static/img/find.png);}

  ul{margin: 0;padding: 0;overflow: hidden}
  li{display: inline-block ; width: 33.33%; text-align: center;}


</style>
