<template>
    <!--页面的结构-->
    <div>
        <p>我是入口组件</p>
        <p>{{msg}}</p>
    </div>
</template>

<script>
    // 当前组件的业务逻辑
    export default {
        data(){
            return {
                msg:'hellow App.vue'
            }
        }
    }
</script>

<style scoped>
    /*css样式*/
    body{
        background: yellow;
    }
</style>