<template>
    <div>
      <nav-bar :title="title"></nav-bar>
    </div>

</template>

<script>
    import NavBar from "../common/NavBar";

    export default {
      name: "news-list",
      data(){
        return {
          title:'新闻列表'
        }
      },
    }
</script>

<style scoped>

</style>
